$cen: center;
%but{
	font-weight: bold;
	border: 1px solid black;	
}
.button{
	button{
		@extend %but;
	}
}

.row{
    align-self: $cen;
}
.row>div{
	padding: 20px;
   	background-color: #FAEBD7;
    margin: 5px;
    align-items: $cen;
}
h1{
	padding: 20px;
	text-align: $cen;
	font-size: 60px;
}
#yanni:hover{
	width: 100%;
}